#ioselect {
	background-color: #e0e0e0;
    border: none;
    margin-left: 5px;
	margin-bottom: 0;
	height: 23px;
	width: auto;
    border-radius: 7px;
	outline: 0;
	transition: background-color 0.2s;
}

#ioselect:hover, #ioselect:focus {
	background-color: #eaeaea;
}

#isonline-helpcontainer {
	background-color: #444;
	margin-left: 5px;
	height: 15px;
	vertical-align: middle;
	display: inline-block;
	border-radius: 4px;
	max-width: 23px;
	transition: max-width 0.4s;
}

#statushelp {
	height: 15px;
	vertical-align: top;
}

#statushelp-path {
	fill: #2196f3;
	transition: fill 0.2s;
}

#statushelp:hover #statushelp-path {
	fill: rgb(106, 182, 243);
}

#isonline-helpcontainer:hover {
	max-width: 600px;
	overflow: hidden;
}

#isonline-helptext {
	text-shadow: none;
	line-height: 15px;
	margin-left: 5px;
    margin-right: 5px;
	display: none;
}

.io-option {
	background-color: white;
}

.io-option-info {
	background-color: white;
	padding-left: 5px;
	font-size: 9px;
	color: #c1c1c1;
	font-weight: lighter;
}
#addfriend{
    color: green;
}
#addfriend:hover{
    color: lawngreen;
    text-decoration: none;
}
#removefriend:hover  {
    color: red;
    text-decoration: none;
}
#removefriend {
    color: maroon;
}
.faq-question {
	padding: 7px;
	cursor: pointer;
}
.faq-both {
	padding: 0px;
	background-color: cadetblue;
	color: white;
	text-shadow: none;
	margin: 2px;
	border-radius: 10px;
	font-weight: bold;
}
.faq-answer {
	font-weight: normal;
	background-color: hsl(182, 25%, 43%);
	padding: 6px;
	border-radius: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px
}
.faq-answer > a{
	color: white;
	font-weight: bold;
	text-decoration: underline;
}
.halloween {
	border-bottom: 3px solid deeppink;
}